@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Bold.eot");
    src: url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir-Bold.eot") format("opentype"),
}

body * {
    font-family: "Vazir";
    font-size: 1rem;
}

body {
    background-color: $lightMainColor3 !important;
}

//inputs 
input {
    border-radius: $borderRadius !important;
}

.ant-input-affix-wrapper {
    border-radius: $borderRadius !important;
    background-color: $lightMainColor3 !important;
    &:hover {
        border: 1px solid $mainColor1 !important;
        background-color: $white !important;
    }

    .ant-input-prefix {
        svg {
            width: 20px !important;
            height: 20px !important;
        }
    }

    input {
        background-color: transparent;
    }
}

.ant-form-item-label {
    text-align: right !important;

    label {
        direction: ltr !important;
    }
}

//buttons 
button {
    border-radius: $borderRadius !important;
}
.mainColor1Button {
    background-color: $mainColor1 !important;
    border: 1px solid $mainColor1 !important;
    color: $white !important;
    height: 40px !important;
    &:hover {
        background-color: $darkMainColor1 !important;
    }
}

// p
.colorMaincolor1 {
    color: $mainColor1;
}



.cursor-pointer {
    cursor: pointer;
}

textarea {
    border-radius: $borderRadius !important;
}

//////
.ltr {
    direction: ltr !important;
}

//antd overrides
.ant-select-selector {
    border-radius: $borderRadius !important;
}

.ant-modal-content {
    border-radius: $borderRadius !important;
    overflow: hidden !important;
}

.ant-popover-inner {
    border-radius: $borderRadius !important;
}

.duration {
    border: 1.4px solid $gray;
    border-radius: $borderRadius;
    padding: 0.1rem 0.5rem;
    color: $gray;
    height: 30px;


    svg {
        color: $gray;
        width: 19px;
        height: 19px;
        margin-left: 5px;
    }
}

.type {
    @include flexCenter();
    border: 1.4px solid $gray;
    border-radius: $borderRadius;
    padding: 0.1rem 0.5rem;
    color: $gray;
    height: 30px;
    max-width: 120px;

    svg {
        width: 17px;
        height: 17px;
        margin-right: 6px;
    }
}

#byPerson {
    border: 1px solid $purple;
    color: $purple;
}
#phone {
    border: 1px solid $yellow;
    color: $yellow;
}
#skype {
    border: 1px solid $mainColor2;
}
#googleMeet {
    border: 1px solid $green;
}