@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir-Bold.eot");
    src: url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir-Bold.eot") format("opentype"),
}

body * {
    font-family: "Vazir";
    font-size: 1rem;
    direction: rtl;
}

//inputs 
.ant-input-affix-wrapper {
    border-radius: $borderRadius !important;
    background-color: $lightGray !important;
    &:hover {
        border: 1px solid $mainColor1 !important;
        background-color: $white !important;
    }

    .ant-input-prefix {
        svg {
            width: 20px !important;
            height: 20px !important;
        }
    }

    input {
        background-color: transparent;
    }
}

//buttons 
button {
    border-radius: $borderRadius !important;
}
.mainColor1Button {
    background-color: $mainColor1 !important;
    border: 1px solid $mainColor1 !important;
    color: $white !important;
    height: 40px !important;
    &:hover {
        background-color: $darkMainColor1 !important;
    }
}

// p
.colorMaincolor1 {
    color: $mainColor1;
}



.cursor-pointer {
    cursor: pointer;
}