@media (max-width : 767.98px) {
    #RegisterPage {
        .illusWrapper {
            display: none;
        }
    }

    #LaptopSidebar {
        display: none;
    }

    body {
        padding-top: 3rem;
    }

    .mobileHeader {
        display: block !important;
    }
}