@media (max-width : 767.98px) {
    #RegisterPage {
        .illusWrapper {
            display: none;
        }

        .formWrapper {
            height: unset !important;
        }
    }

    #LaptopSidebar {
        display: none;
    }

    body {
        padding-top: 3rem;
    }

    .mobileHeader {
        display: block !important;
    }

    .createEventTypeWrapper {
        width: calc(100% - 1rem) !important;
    }

    #ReservedEvents {
        flex-direction: column;
        margin-top: 1rem !important;

        .reservedEventsTable {
            display: none;
        }

        .reservedEventsMobile {
            display: block !important;
        }
    }

    #Reserve {
        padding: 1rem !important;

        .wrapper {
            .body {
                width: unset !important;
            }

            .calendar {
                width: 100%;

                .Calendar {
                    width: 100% !important;
                }

                .userInformationForm {
                    margin: 1rem 0 0 0;
                    width: 100%;
                }
            }
        }
    }

    #succesfullyReservedEvent {
        h3, .h3 {
            font-size: 1.2rem;
        }
    }
    
}