$darkMainColor1: #575BEB;
$mainColor1: #6A6EF4;
$lightMainColor1: #F1F1FE;
$darkMainColor2: #17A2B8;
$mainColor2: #54C1FB;
$lightMainColor2: #F1FAFE;
$mainColor3: #272848;
$lightMainColor3: #F3F3F9;
$darkRed: #DC3545;
$red: #FF7070;
$lightRed: #FDF3F3;
$darkGreen: #28A745;
$green: #11CE8C;
$lightGreen: #F3FCF9;
$darkYellow: #FFA94D;
$yellow: #FFC107;
$lightYellow: #FFFAF4;
$darkPurple: #6F42C1;
$purple: #BB73F3;
$lightPurple: #F9F2FF;
$darkGray: #343A40;
$gray: #6C757D;
$lightGray: #C8CADB;
$white: #FFFFFF;


$borderRadius: 10px;