html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  direction: rtl;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
  font-weight: 200;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir.woff") format("woff"), url("../fonts/Vazir-Bold.eot") format("opentype");
}
body * {
  font-family: "Vazir";
  font-size: 1rem;
}

body {
  background-color: #F3F3F9 !important;
}

.ant-input-affix-wrapper {
  border-radius: 10px !important;
  background-color: #F3F3F9 !important;
}
.ant-input-affix-wrapper:hover {
  border: 1px solid #6A6EF4 !important;
  background-color: #FFFFFF !important;
}
.ant-input-affix-wrapper .ant-input-prefix svg {
  width: 20px !important;
  height: 20px !important;
}
.ant-input-affix-wrapper input {
  background-color: transparent;
}

.ant-form-item-label {
  text-align: right !important;
}
.ant-form-item-label label {
  direction: ltr !important;
}

button {
  border-radius: 10px !important;
}

.mainColor1Button {
  background-color: #6A6EF4 !important;
  border: 1px solid #6A6EF4 !important;
  color: #FFFFFF !important;
  height: 40px !important;
}
.mainColor1Button:hover {
  background-color: #575BEB !important;
}

.colorMaincolor1 {
  color: #6A6EF4;
}

.cursor-pointer {
  cursor: pointer;
}

.ltr {
  direction: ltr !important;
}

.ant-modal-content {
  border-radius: 10px !important;
  overflow: hidden !important;
}

.ant-popover-inner {
  border-radius: 10px !important;
}

.duration {
  border: 1.4px solid #6C757D;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  color: #6C757D;
  height: 30px;
}
.duration svg {
  color: #6C757D;
  width: 19px;
  height: 19px;
  margin-left: 5px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.4px solid #6C757D;
  border-radius: 10px;
  padding: 0.1rem 0.5rem;
  color: #6C757D;
  height: 30px;
}
.type svg {
  width: 17px;
  height: 17px;
  margin-right: 6px;
}

@media (max-width: 767.98px) {
  #RegisterPage .illusWrapper, #LoginPage .illusWrapper {
    display: none;
  }
}
#RegisterPage, #LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#RegisterPage section, #LoginPage section {
  height: 100%;
}
#RegisterPage .illus, #LoginPage .illus {
  background-color: #F3F3F9;
  margin-left: -15px;
  height: 100%;
}
#RegisterPage .formWrapper, #LoginPage .formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#RegisterPage .formWrapper .registerForm, #LoginPage .formWrapper .registerForm {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: right;
  max-width: 600px;
  padding: 1rem;
  margin: 20px;
  text-align: right;
  direction: rtl;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}
#RegisterPage .formWrapper .registerForm .mainColor1Button, #LoginPage .formWrapper .registerForm .mainColor1Button {
  width: 100%;
}

#CreateEventType {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}
#CreateEventType .createEventTypeWrapper {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 100%;
  margin: 1rem;
  max-width: 700px;
}
#CreateEventType .createEventTypeWrapper .CreateEventTypeHeader {
  width: 100%;
  border-bottom: 1px solid #C8CADB;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#CreateEventType .createEventTypeWrapper .CreateEventTypeHeader svg {
  cursor: pointer;
}
#CreateEventType .createEventTypeWrapper .createEventTypeForm {
  padding: 1rem;
}
#CreateEventType .createEventTypeWrapper .eventColors {
  display: flex;
  flex-direction: row;
}
#CreateEventType .createEventTypeWrapper .eventColors .colorPicker input {
  height: 100% !important;
  width: 100% !important;
  padding: 4px;
  border-radius: 10px;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColor {
  width: 35px;
  height: 35px;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColor svg {
  display: none;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColor:hover {
  outline: 2px solid #6A6EF4;
}
#CreateEventType .createEventTypeWrapper .eventColors .activeEventColor {
  outline: 2px solid #6A6EF4;
}
#CreateEventType .createEventTypeWrapper .eventColors .activeEventColor svg {
  display: flex;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorDarkRed {
  background-color: #DC3545;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorRed {
  background-color: #FF7070;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorDarkYellow {
  background-color: #FFA94D;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorYellow {
  background-color: #FFC107;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorDarkGreen {
  background-color: #28A745;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorGreen {
  background-color: #11CE8C;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorDarkMainColor2 {
  background-color: #17A2B8;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorMainColor2 {
  background-color: #54C1FB;
}
#CreateEventType .createEventTypeWrapper .eventColors .eventColorMainColor1 {
  background-color: #6A6EF4;
}
#CreateEventType .createEventTypeWrapper .eventLink .ant-input-group-addon {
  color: #54C1FB;
  background-color: #F1FAFE;
}
#CreateEventType .createEventTypeWrapper .freeTime {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #C8CADB;
  margin-bottom: 1rem;
  border-radius: 10px;
}
#CreateEventType .createEventTypeWrapper .freeTime .days:last-child {
  border-bottom: none !important;
}
#CreateEventType .createEventTypeWrapper .freeTime .days {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #C8CADB;
}
#CreateEventType .createEventTypeWrapper .freeTime .days label {
  min-width: 65px;
}
#CreateEventType .createEventTypeWrapper .freeTime .days .dayLabel svg {
  width: 19px;
  height: 19px;
  color: #11CE8C;
}
#CreateEventType .createEventTypeWrapper .freeTime .selectTime {
  display: flex;
  flex-direction: column;
}
#CreateEventType .createEventTypeWrapper .saveEventTypeButton button {
  width: 120px;
}
#CreateEventType .createEventTypeWrapper .saveEventTypeButton div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-item {
  text-align: right;
}

#Sidebar {
  width: 190px;
  height: 100%;
  z-index: 10;
}
#Sidebar .sidebar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Sidebar .sidebar .logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Sidebar .sidebar .routes {
  text-align: right;
  margin-top: 3rem;
  width: 100%;
}
#Sidebar .sidebar .routes ul {
  display: flex;
  flex-direction: column;
}
#Sidebar .sidebar .routes ul li {
  padding: 1rem;
  cursor: pointer;
  font-size: 0.8rem !important;
  position: relative;
}
#Sidebar .sidebar .routes ul li:hover {
  color: #6A6EF4;
}
#Sidebar .sidebar .routes ul li svg {
  width: 19px;
  margin-left: 8px;
}
#Sidebar .sidebar .routes ul .active {
  background-color: #F1F1FE;
  color: #6A6EF4;
}
#Sidebar .sidebar .routes ul .active::after {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background: #6A6EF4;
  right: 0;
  top: 0;
  position: absolute;
}

#EventTypes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}
#EventTypes .eventTypes {
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem;
  max-width: 1000px;
  display: flex;
}
#EventTypes .eventTypes .inactive {
  background-color: #C8CADB !important;
}
#EventTypes .eventTypes .eventType {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 300px;
  position: relative;
  overflow: hidden;
}
#EventTypes .eventTypes .eventType .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#EventTypes .eventTypes .eventType .header .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
#EventTypes .eventTypes .eventType .header svg {
  transform: rotateZ(90deg);
}
#EventTypes .eventTypes .eventType .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C8CADB;
  padding: 1rem 0;
}
#EventTypes .eventTypes .eventType .body::before {
  content: "";
  display: block;
  width: 5.5px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
}
#EventTypes .eventTypes .eventType .eventColorMainColor1::before {
  background: #6A6EF4;
}
#EventTypes .eventTypes .eventType .eventColorMainColor2::before {
  background: #54C1FB;
}
#EventTypes .eventTypes .eventType .eventColorDarkMainColor2::before {
  background: #17A2B8;
}
#EventTypes .eventTypes .eventType .eventColorGreen::before {
  background: #11CE8C;
}
#EventTypes .eventTypes .eventType .eventColorDarkGreen::before {
  background: #28A745;
}
#EventTypes .eventTypes .eventType .eventColorYellow::before {
  background: #FFC107;
}
#EventTypes .eventTypes .eventType .eventColorDarkYellow::before {
  background: #FFA94D;
}
#EventTypes .eventTypes .eventType .eventColorRed::before {
  background: #FF7070;
}
#EventTypes .eventTypes .eventType .eventColorDarkRed::before {
  background: #DC3545;
}
#EventTypes .eventTypes .eventType .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
#EventTypes .eventTypes .eventType .footer .link {
  direction: ltr;
  color: #54C1FB;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-left: 20px;
}
#EventTypes .eventTypes .eventType .footer .link a {
  color: #54C1FB;
}
#EventTypes .eventTypes .eventType .footer .mainColor1Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px !important;
  min-width: 100px;
}
#EventTypes .eventTypes .eventType .footer .mainColor1Button svg {
  width: 17px;
  height: 17px;
  margin-left: 6px;
}
#EventTypes .eventTypes .eventType .footer .activeEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 110px;
  background-color: #11CE8C;
  color: #FFFFFF;
  border: 1px solid #11CE8C;
}
#EventTypes .eventTypes .eventType .footer .activeEvent:hover {
  background-color: #28A745;
}
#EventTypes .eventTypes .eventType .footer .activeEvent svg {
  width: 17px;
  height: 17px;
  margin-left: 6px;
}

.dropdownMenuEventTypes div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdownMenuEventTypes div svg {
  width: 17px;
}
.dropdownMenuEventTypes .ant-switch {
  margin-right: 5px;
}
.dropdownMenuEventTypes .ant-switch-inner span {
  font-size: 0.8rem !important;
}

#Loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

#Reserve {
  width: 100%;
  padding: 2rem;
}
#Reserve .wrapper {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: right;
}
#Reserve .wrapper .body {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  margin: 1rem 0;
}
#Reserve .wrapper .type, #Reserve .wrapper .duration {
  width: 90px;
}
#Reserve .wrapper .description {
  max-width: 400px;
}
#Reserve .eventColorDarkRed {
  background-color: #FDF3F3;
}
#Reserve .eventColorDarkRed .-selected {
  background-color: #DC3545;
}
#Reserve .eventColorDarkRed .wrapper {
  border: 1px solid #DC3545;
}
#Reserve .eventColorRed {
  background-color: #FDF3F3;
}
#Reserve .eventColorRed .-selected {
  background-color: #FF7070;
}
#Reserve .eventColorRed .wrapper {
  border: 1px solid #FF7070;
}
#Reserve .eventColorDarkYellow {
  background-color: #FFFAF4;
}
#Reserve .eventColorDarkYellow .-selected {
  background-color: #FFA94D;
}
#Reserve .eventColorDarkYellow .wrapper {
  border: 1px solid #FFA94D;
}
#Reserve .eventColorYellow {
  background-color: #FFFAF4;
}
#Reserve .eventColorYellow .-selected {
  background-color: #FFC107;
}
#Reserve .eventColorYellow .wrapper {
  border: 1px solid #FFC107;
}
#Reserve .eventColorDarkGreen {
  background-color: #F3FCF9;
}
#Reserve .eventColorDarkGreen .-selected {
  background-color: #28A745;
}
#Reserve .eventColorDarkGreen .wrapper {
  border: 1px solid #28A745;
}
#Reserve .eventColorGreen {
  background-color: #F3FCF9;
}
#Reserve .eventColorGreen .-selected {
  background-color: #11CE8C;
}
#Reserve .eventColorGreen .wrapper {
  border: 1px solid #11CE8C;
}
#Reserve .eventColorDarkMainColor2 {
  background-color: #F1FAFE;
}
#Reserve .eventColorDarkMainColor2 .-selected {
  background-color: #17A2B8;
}
#Reserve .eventColorDarkMainColor2 .wrapper {
  border: 1px solid #17A2B8;
}
#Reserve .eventColorMainColor2 {
  background-color: #F1FAFE;
}
#Reserve .eventColorMainColor2 .-selected {
  background-color: #54C1FB;
}
#Reserve .eventColorMainColor2 .wrapper {
  border: 1px solid #54C1FB;
}
#Reserve .eventColorMainColor1 {
  background-color: #F1F1FE;
}
#Reserve .eventColorMainColor1 .-selected {
  background-color: #6A6EF4;
}
#Reserve .eventColorMainColor1 .wrapper {
  border: 1px solid #6A6EF4;
}

.Calendar {
  width: 500px !important;
  min-height: 200px !important;
}

.ReserveHourModal .reserveHours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ReserveHourModal .hour {
  border: 1px solid;
  padding: 1rem;
  margin: 0.5rem 0;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.ReserveHourModal .eventColorYellow .hour {
  color: #FFA94D;
  border-color: #FFA94D;
  background-color: #FFFAF4;
}
.ReserveHourModal .eventColorDarkRed .hour {
  color: #DC3545;
  border-color: #DC3545;
  background-color: #FDF3F3;
}
.ReserveHourModal .eventColorRed .hour {
  color: #FF7070;
  border-color: #FF7070;
  background-color: #FDF3F3;
}
.ReserveHourModal .eventColorDarkYellow .hour {
  color: #FFA94D;
  border-color: #FFA94D;
  background-color: #FFFAF4;
}
.ReserveHourModal .eventColorYellow .hour {
  color: #FFC107;
  border-color: #FFC107;
  background-color: #FFFAF4;
}
.ReserveHourModal .eventColorDarkGreen .hour {
  color: #28A745;
  border-color: #28A745;
  background-color: #F3FCF9;
}
.ReserveHourModal .eventColorGreen .hour {
  color: #11CE8C;
  border-color: #11CE8C;
  background-color: #F3FCF9;
}
.ReserveHourModal .eventColorDarkMainColor2 .hour {
  color: #17A2B8;
  border-color: #17A2B8;
  background-color: #F1FAFE;
}
.ReserveHourModal .eventColorMainColor2 .hour {
  color: #54C1FB;
  border-color: #54C1FB;
  background-color: #F1FAFE;
}
.ReserveHourModal .eventColorMainColor1 .hour {
  color: #6A6EF4;
  border-color: #6A6EF4;
  background-color: #F1F1FE;
}

.userInformationForm {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 4rem 9rem 4rem;
  border-radius: 10px;
  width: 300px;
}/*# sourceMappingURL=main.css.map */